:root {
  --primary-color: #09283d;
  --secondary-color: #2ecc71;
  --text-color: #333;
}

@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
}




@media (min-width: 375px) {
  /* 작은 스마트폰 이상의 화면을 위한 스타일 */
  .nav {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-logo-container {
    margin: 1rem;
  }
  
  .main-logo {
    cursor: pointer;
    font-family: Paperlogy-8ExtraBold;
    font-size: larger;
    font-weight: 800;
  }
  
  .nav-btn-container {
    display: flex;
    justify-content: right;
    width: 30%;

  }
  
  .nav-btn {
    display: none;
    font-family: Paperlogy-8ExtraBold;
    font-size: 13px;
    margin-left: 1rem ;
    margin-right: 1rem;
    cursor: pointer;
  }

  #burger-menu-btn{
    cursor: pointer;
    padding-right: 2rem;
  }

  .burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 10%;
    background-color: white;
    cursor: pointer;

  }
  
  .sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .sidebar-btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  .sidebar-btn:hover {
    color: var(--secondary-color);
  }

  .std-btn{
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
  }

  .content-wrap {
    
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
  }
  
  .page-title{
    font-family: Paperlogy-8ExtraBold;
  }
  
  .page-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
  }
  
  .post-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;

    margin-bottom: 2.5rem;
  }

  .post-list-row {
    width: 95%;
    margin-top: 1rem;
    padding: 0.5rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.16), 
    0 8px 8px rgba(0,0,0,0.20);  
    border-radius: 5px;
    transition: transform 0.2s ease;
    cursor: pointer;
  }

  .post-list-row:hover {
    transform: translateY(-10px);
  
  }

  .post-id {
    display: none;
  }

  .post-title {
    font-family: 'Paperlogy-8ExtraBold';
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .post-title:hover {
    color:var(--secondary-color);
  }

  .post-author {
    align-content: center;
  }
  
  .post-create-date {
    align-content: center;
  }

  .graph-container {
    width: 40%;
  }
  
  footer {
    background-color: var(--primary-color);
    color: white;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .footer-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .footer-content-container {
    display: flex;
    flex-direction: row;
  }
  
  .footer-content{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
}

@media (min-width: 768px) {
  /* 태블릿 이상의 화면을 위한 스타일 */
}

@media (min-width: 1024px) {
  /* 작은 노트북 이상의 화면을 위한 스타일 */
}

@media (min-width: 1200px) {
  /* 일반 데스크탑 이상의 화면을 위한 스타일 */
  
.nav {
  background-color: var(--primary-color);
  color: white;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-logo-container {
  margin: 1rem;
}

.main-logo {
  cursor: pointer;
  font-family: Paperlogy-8ExtraBold;
  font-size: larger;
  font-weight: 800;
}

.nav-btn-container {
  display: flex;
  justify-content: center;
  width: 30%;
}

.nav-btn {
  display: flex;
  font-family: Paperlogy-8ExtraBold;
  font-size: 13px;
  margin-left: 1rem ;
  margin-right: 1rem;
  cursor: pointer;

}

.main {
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 10%;
  background-color: white;
  justify-content: center;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.sidebar-btn {
  cursor: pointer;
  font-family: Paperlogy-8ExtraBold;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: black;
}

#burger-menu-btn {
  display: none;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

.page-title{
  font-family: Paperlogy-8ExtraBold;
}

.page-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}



.post-list-row {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.post-id {
  width: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;

}

.post-title {
  width: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  text-align: center;

}

.post-author {
  width: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;

}

.post-create-date {
  width: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;

}

.post-hr {
  size: 1px;

}

.graph-container {
  width: 40%;
}

footer {
  background-color: var(--primary-color);
  color: white;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.footer-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-content-container {
  display: flex;
  flex-direction: row;
}

.footer-content{
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.graph-container{
  width: 100%;
}

.std-btn{
  padding: 10px 20px;
  margin: 10px 0;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
