:root {
  --primary-color: #09283d;
  --secondary-color: #2ecc71;
  --text-color: #333;
}


*{
  padding: 0;
  margin: 0;
}

.nav {
  background-color: var(--primary-color);
  color: white;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-logo-container {
  margin: 1rem;
}

.main-logo {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
}

.nav-btn-container {
  display: flex;

}

.nav-btn {
  margin-left: 1rem ;
  margin-right: 1rem;
  cursor: pointer;

}


.content-wrap {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}



.page-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.graph-container {
  width: 40%;
}

footer {
  background-color: var(--primary-color);
  color: white;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.footer-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-content-container {
  display: flex;
  flex-direction: row;
}

.footer-content{
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
